    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center" style="color:rgb(255, 255, 255);">
          <span class="me-3">MotherTec Donde tus  compras son las  mas seguras</span>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(138, 11, 11, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://www.facebook.com/aratholmed/">Arath Olmedo Hern&aacute;ndez</a>
    </div>
    <!-- Copyright -->