<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda Productos</title>
    {{>scripts}}
    </head>
    <body>
    {{>navbar}}               
    {{{body}}}
            <!-- Footer o pie de pagina-->
    <footer class="text-center text-white footer">
        {{>Footer}} 
    </footer>
    </body>
</html>
