		<link rel="stylesheet" href="/static/css/home.css">
        <body>
        <div class="wrapper">
			<div class="inner">
                {{!-- //cuando entre a esta pagina de editar yo voy a tener la posibilidad de tener dicho id --}}
					<h3>MotherTec</h3>
					<p class="letraH">Tienda de Productos de Computadoras
					</p>
                    <button class="btn btn-primary"><a href="/insertar" style="color: white;">Insertar Dato</a></button>
			</div>
		</div>
        </body>