		<link rel="stylesheet" href="/static/css/home.css">
        <body>
        <div class="wrapper">
			<div class="inner">
                {{!-- //cuando entre a esta pagina de editar yo voy a tener la posibilidad de tener dicho id --}}
					<h3>MotherTec 404</h3>
					<p class="letraH">Error 404 al Encontrar la Pagina</p>
			</div>
		</div>
        </body>